/* Customização */

@font-face {
    font-family: 'sinkin_sans200_x_light';
    src: url('../fonts/SinkinSans-200XLight-webfont.eot');
    src: url('../fonts/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SinkinSans-200XLight-webfont.woff') format('woff'),
    url('../fonts/SinkinSans-200XLight-webfont.ttf') format('truetype'),
    url('../fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('../fonts/SinkinSans-300Light-webfont.eot');
    src: url('../fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SinkinSans-300Light-webfont.woff') format('woff'),
    url('../fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
    url('../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../fonts/SinkinSans-400Regular-webfont.eot');
    src: url('../fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
    url('../fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
    url('../fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot');
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SinkinSans-600SemiBold-webfont.woff') format('woff'),
    url('../fonts/SinkinSans-600SemiBold-webfont.ttf') format('truetype'),
    url('../fonts/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('../fonts/SinkinSans-700Bold-webfont.eot');
    src: url('../fonts/SinkinSans-700Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SinkinSans-700Bold-webfont.woff') format('woff'),
    url('../fonts/SinkinSans-700Bold-webfont.ttf') format('truetype'),
    url('../fonts/SinkinSans-700Bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'sinkin_sans300_light', serif;
}

/* Titulagem */
h1, h2, h3, h4, h5, h6 {
    font-family: 'sinkin_sans600_semibold', serif;
}

h1 { padding: 10px 0 14px; }

h1, h2 {
    letter-spacing: -0.006em;
    word-spacing: -0.05em;
}

.text-align-center{
    text-align: center;
}

section header h2 {
    color: #141414;
    font-size: 20px;
    padding: 15px 0 0 0;
    min-height: 60px;
    text-transform: uppercase;
}



.countdown h1 {
    font-family: "Economica";
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    padding-top: 150px;
}
